@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --ios-bg: #f2f2f2;
  --ios-card: #ffffff;
  --ios-blue: #007aff;
  --ios-gray: #8e8e93;
  --ios-separator: #c6c6c6;
}

@theme inline {
  --color-background: var(--ios-bg);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --ios-bg: #000000;
    --ios-card: #1c1c1e;
    --ios-separator: #38383a;
  }
}


html {
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  /*-webkit-overflow-scrolling: touch;   - говно устарелое, нужно оно? */
  /* padding-bottom: env(safe-area-inset-bottom);    - думаем */
}

body {
  background: var(--ios-bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes modalEnter {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-modal {
  animation: modalEnter 0.2s ease-out forwards;
}

@layer utilities {
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}